data_challenges/data_deutsches_zeitungsportal_1914_1945
data_challenges/data_deutsches_zeitungsportal_misc
data_challenges/data_other
data_carpentries/data
data_challenges/.ipynb_checkpoints
data_carpentries/.ipynb_checkpoints
